// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: "Montserrat", sans-serif;
    section {
        overflow-x: hidden;
    }
    &.locked {
        overflow: hidden;
    }

    .btn {
        // .btn_primary

        display: inline-block;
        &_primary {
            color: $whiteColor;
            background: $redColor;
            border-radius: 6px;
            padding: 14px 32px;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.0025em;
            transition: 0.3s all ease;
            @media (max-width: $breakpoint992) {
                padding: 12px 16px;
            }
            @media (max-width: $breakpoint768) {
                padding: 10px 14px;
            }
            &:hover {
                background: lighten($color: $redColor, $amount: 10);
                color: $whiteColor;
            }
        }

        &_outline {
            color: $redColor;
            background: transparent;
            border-radius: 6px;
            border: 1px solid $redColor;
            padding: 14px 32px;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.0025em;
            transition: 0.4s all ease;
            @media (max-width: $breakpoint992) {
                padding: 12px 16px;
            }
            @media (max-width: $breakpoint768) {
                padding: 10px 14px;
            }
            @media (max-width: $breakpoint480) {
            }
            &:hover {
                background: darken($color: $redColor, $amount: 5);
                color: $whiteColor;
            }
        }
    }
    .button {
        // .button__block

        &__block {
            margin-top: 30px;

            img {
                position: relative;
                left: 60px;
                top: 60px;
            }
        }
    }
    .btn {
        // .btn_outline
        display: none;
        &_outline {
        }

        // .btn__hiring

        &_hiring {
            position: absolute;
        }

        &_primary {
        }
    }

    section {
        @media (max-width: $breakpoint992) {
            padding: 60px 0;
        }

        @media (max-width: $breakpoint768) {
            padding: 50px 0;
        }

        @media (max-width: $breakpoint480) {
            padding: 35px 0;
        }
    }
}
.section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    color: $blueColor;
    &.title__center {
        text-align: center;
        &-answer {
        }
    }
    &-about {
        @media (max-width: $breakpoint768) {
            text-align: center;
        }
    }
    span {
        color: $redColor;
    }
    @media (max-width: $breakpoint992) {
        font-size: 32px;
        line-height: 50px;
    }

    @media (max-width: $breakpoint768) {
        font-size: 26px;
        line-height: 42px;
    }

    @media (max-width: $breakpoint480) {
        font-size: 24px;
        line-height: 20px;
    }
}
.section__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $grayColor;
    margin-top: 16px;
    &.subtitle__center {
        text-align: center;
        &-answer {
        }
    }
    @media (max-width: $breakpoint768) {
        font-size: 12px;
        line-height: 20px;
    }
}

.section__info-text {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    align-items: center;
    color: $blueColor;
    @media (max-width: $breakpoint1200) {
        font-size: 36px;
        line-height: 42px;
    }
    @media (max-width: $breakpoint992) {
        font-size: 26px;
        line-height: 34px;
    }
    @media (max-width: $breakpoint768) {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    @media (max-width: $breakpoint480) {
        font-size: 24px;
        line-height: 30px;
    }
}

.section__info-subtext {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $blueColor;
    margin-top: 15px;
    @media (max-width: $breakpoint1200) {
        line-height: 22px;
    }
    @media (max-width: $breakpoint992) {
        font-size: 12px;
        line-height: 16px;
    }
    @media (max-width: $breakpoint768) {
        text-align: center;
        line-height: 22px;
    }
}
// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
